.DetailsCard{


    table{
        width: 100%;
        text-align: right;
        font-size: 14px;

        td, th{
            padding: 5px 10px;
        }
        .table_title{
            background: rgb(235, 235, 235);
        }

    }
}