.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.5s ease-in;
    height: 70px;
    position: relative;
}
.nav_container{
    display: flex;
    padding: 0px 120px;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    font-weight: 700;
    height: 70px;
    z-index: 100;

}

.nav_content1{
    width: 33%;
    height: 100%;

    ul{
        height: 100%;
        margin: 0px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      li{
          height: 100%;
          display: flex;
          align-items: center;
          &:hover{
            border-top: 7px solid #ff0000;
      }
        }

      li a{
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              &:hover{
                    color: grey;
                    // border-top: 3px solid #ff0000;
              }
      }
    }
}

.nav_content2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53%;
    height: 100%;

    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 50%;
        align-items: center;
        margin: 0px;
        height: 100%;

        li{
            height: 100%;
            display: flex;
            align-items: center;
            &:hover{
              border-top: 7px solid #ff0000;
        }
          }

        li a{
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                  color: grey;
            }
    }
    }
}

.scrollNav{
    z-index: 100;
    box-shadow: 1px 1px #dad8d8;
}
.bosta_img{
    width: 110px;
}
.mobile_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    font-weight: 700;
    padding: 0px 60px;
    height: 70px;
}
.mobile_drawer{
    max-width: 1400px;
    margin: auto;
    margin: 0px 50px;
    text-align: center;
    padding: 20px;
    z-index: 100;
    background: white;
    font-size: 14px;
    animation: drawer 1s forwards ;
    height: 190px;
    border-top: 2px solid red;

    p{  
      margin: 0px;  
      padding: 10px 0;
      transition: all 0.3s ease-in-out;
        &:hover{
            background: rgb(211, 210, 210);
        }
    }
}

@keyframes drawer {
    0%{
        height: 0px;
    }
    100%{
        height: 190px;;
    }
}

@media (max-width:1150px) {
	.nav_container{
        padding: 0px 30px;
        font-size: 14px;
    }
}

@media (max-width:980px) {
	.nav_container{
        display: none;
    }

}
@media (min-width:980px) {
	.mobile_nav{
        display: none;
    }
}